@model UniversityRegistrar.Models.StudentCourse;

<div>
  <p> @Model.StudentCourseId </p>
  <p> @Model.Student.Name </p>
  <p> @Model.Course.CourseName</p>
</div>

<div>
  <p>@Model.Grade</p>
  <p>@Model.Finished</p>
</div>

<p>Edit grades and course status</p>
<p>@Html.ActionLink("Edit","Edit",new {id = @Model.StudentCourseId})</p>