@model UniversityRegistrar.Models.StudentCourse;

<div>
  <p> @Model.StudentCourseId </p>
  <p> @Model.Student.Name </p>
  <p> @Model.Course.CourseName</p>
</div>

<div>
  <p>@Model.Grade</p>
  <p>@Model.Finished</p>
</div>
