@{
  Layout = "_Layout";
}


@using UniversityRegistrar.Models;

<p>Course GPA: @ViewBag.GPA</p>

@foreach (StudentCourse join in @Model.Students)
{
  <p>@Html.ActionLink(join.Student.Name,"Details","Students", new {id = join.Student.StudentId})</p>
}

@foreach (StudentCourse course in @ViewBag.StudentCourses)
{
  <p>@Html.ActionLink(course.Student.Name,"Details","StudentCourses",new {id = course.StudentCourseId})</p>
}