@{
  Layout = "_Layout";
}
@model List<UniversityRegistrar.Models.StudentWithGPA>;

@using UniversityRegistrar.Models;

<p>Average course grade: @ViewBag.GPA</p>

<p>See student details:</p>
@foreach (StudentWithGPA swg in @Model)
{
  <p>@Html.ActionLink(swg.Student.Name,"Details","Students", new {id = swg.Student.StudentId}) : Grade in course: @swg.GPA
  </p>
}

<p>Department for this course: @Html.ActionLink((string) @ViewBag.Department.Name, "Details",new {id =
                          @ViewBag.Department.DepartmentId})</p>
